<h2>Cadastrar</h2>
<form>
  <div class="form-group ">
    <label class="col-sm-2 col-form-label" >Id</label><input type="text" name="id" placeholder="ID" [(ngModel)]="vaga.id"><br>
    <label class="col-sm-2 col-form-label" >Nome</label><input type="text" name="nome"   placeholder="Nome" [(ngModel)]="vaga.nome"><br>
    <label class="col-sm-2 col-form-label" >Foto</label><input type="text" name="foto" placeholder="Foto" [(ngModel)]="vaga.foto"><br>
    <label class="col-sm-2 col-form-label" >Descrição</label><input type="text" name="descricao" placeholder="Descrição" [(ngModel)]="vaga.descricao"><br>
    <label class="col-sm-2 col-form-label" >Salário</label><input type="text" name="salario" placeholder= vaga.salario [(ngModel)]="vaga.salario"><br>

    <button type="button" class="btn btn-success botao" (click)="cadastrar()">Cadastrar Vaga</button>
    <button type="button" class="btn btn-primary botao" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
    <button type="button" class="btn btn-danger botao" (click)="excluir(vaga.id)">Excluir Vaga</button>
  </div>
</form>


<section class="lista-vagas">
  <div *ngFor="let vaga of vagas">

    <div class="card" style="width: 18rem;">
      <img src="assets\img\vagas\{{vaga.foto}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Código da Vaga: {{vaga.id}}</h5>
        <h5 class="card-title">Vaga: {{vaga.nome}}</h5>
        <p class="card-text">Descricão da Vaga: {{vaga.descricao}}</p>
        <p class="card-text">Salário: R$ {{vaga.salario}},00</p>

        <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
        <button type="button" (click)="excluir(vaga.id)">Excluir Vaga</button>
      </div>
    </div>

  </div>
</section>
